/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Partially gets the job done */
/* .gmnoprint a, .gmnoprint span {
  display:none;
}
.gmnoprint div {
  background:none !important;
} */

/* DOES NOT WORK */
/* img[src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2.png"], a[href^="http://maps.google.com/maps"]{
  display:none !important;
} */
